



  /**
  *
  *   FONTS | Styl
  *
  *   Desc : define font-face loading
  *   Location : > shared > fonts.styl
  *
  */
    


  /* Bodoni */
    
  @font-face
    font-family: Bodoni
    font-style: normal
    src: url('../../assets/fonts/bodoni.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/bodoni.woff') format('woff'),
         url('../../assets/fonts/bodoni.ttf') format('truetype'),
         url('../../assets/fonts/bodoni.svg#BodoniSvtyTwoITCTT-Bold') format('svg')
  

  /* Gotham */
    
  @font-face
    font-family: "Gotham Bold"
    font-style: normal
    src: url('../../assets/fonts/gotham.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/gotham.woff') format('woff'),
         url('../../assets/fonts/gotham.woff') format('woff2'),
         url('../../assets/fonts/gotham.ttf') format('truetype'),
         url('../../assets/fonts/gotham.svg#GothamBold') format('svg')
  
  