



  /**
  *
  *   GLOBAL | Styl
  *
  *   Desc : global interface and ressources styles definition
  *   Location : > shared > global.styl
  *
  */
    


  /* Frame */
    
  html
  body
  .app
    width 100%
    height 100%
    overflow hidden
    
  body:before
    display block
    content ''
    position absolute
    z-index -1
    top 15px
    left 15px
    right 15px
    bottom 15px
    background rgba(color-black, 0.02)
    


  /* Root */
    
  html
    font-size font-base-size
    font-family font-content
    color color-black
