



  /**
  *
  *   SHARED | Styl
  *
  *   Desc : global shared styles imports
  *   Location : > shared > shared.styl
  *
  */
    


  /* Config */
  
  @import "../variables.styl"
  

  /* Global */
    
  @import "../../node_modules/reset-css/reset.css"
  @import "global"


  /* Assets */
    
  @import "fonts"
  