



  /**
  *
  *   VARIABLES | Styl
  *   
  *   Desc : define global app style variables
  *   Location : > variables.styl
  *
  */
    


  
  /* Color */
  
  color-white = #fefefe
  color-black = #000000
  
  color-primary = #f8f08a
  


  /* Fonts */
    
  font-titles = "Bodoni", serif
  font-content = "Gotham", sans serif
  
  font-base-size = 16px
  
  