



  /**
  *
  *   VARIABLES | Styl
  *   
  *   Desc : define global app style variables
  *   Location : > variables.styl
  *
  */
    


  
  /*----------  Colors  ----------*/
    

  // Basics
  
  color-white = #fefefe
  color-black = #000000
  
  